[Unit]
Description=Installing Jade's GUI counterpart (This may take a while)
Before=gdm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,size=2G /run/archiso/cowspace
ExecStart=/bin/flatpak install -y --noninteractive /usr/share/jade-gui/jade-gui.flatpak

[Install]
WantedBy=multi-user.target
