[Unit]
Description=Generates Base Crystal ISO Mirrorlist
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "reflector > /etc/pacman.d/mirrorlist"

[Install]
WantedBy=multi-user.target
